:root {
  --site-background-color: #fff;
  --site-font-color: #000;
  --nav-background-color: rgba(50, 50, 211);
  ;
  --nav-font-color: #fff;
  --nav-height: 80px;

  background-color: var(--site-background-color);
  color: var(--site-font-color);
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media only screen and (max-width:480px) {
    --nav-height: 60px;
  }
}



* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  line-height: 1.2;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, 1) 100%),
    var(--page-background-image);
  background-size: cover;
  background-position: 100%;
  background-attachment: fixed;
  backdrop-filter: blur;
  height: 100%;
  min-height: 100vh;
}

.main-content {
  margin: auto;
  width: 95%;
  max-width: 1500px;
  backdrop-filter: blur(3px);

  .page-content {
    padding: 20px;
    margin: 20px auto;
    background-color: var(--site-background-color);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
    opacity: .75;
    min-height: 300px;

    .block {
      margin: 10px 0 20px;

      @media only screen and (max-width:480px) {
        margin: 10px;
      }

      &>h2 {
        font-weight: 600;
        border-bottom: 2px solid gray;
        margin: 10px 0;
      }
    }
  }

  @media only screen and (max-width:480px) {
    width: 100%;

    .page-content {
      padding: 10px;
    }
  }
}

#app {
  margin: 0 auto;
}


#info-tip-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  z-index: 10000;
  cursor: pointer;

  &.show-positioned {
    display: block;
  }
}

#info-tip-dialog {
  display: none;
  opacity: 0;
  margin-inline: 5px 15px;
  padding: 15px;
  position: absolute;
  top: var(--top-corner-offset);
  left: var(--left-corner-offset);
  height: fit-content;
  width: fit-content;
  min-height: 150px;
  min-width: 342px;
  border-radius: 8px;
  border: 1px solid #fff;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(191, 191, 191, 0.25);
  transition: opacity .8s;
  z-index: 10001;

  @media screen and (max-width: 640px) {
    position: fixed;
    inset: 0;
    width: 95%;
  }

  &.show-positioned {
    display: block;
    opacity: 1;
  }

  .content-area {
    margin: 16px 15px 5px 5px;

    /* inner content classes */
    .image-bullets {
      display: grid;
      grid-template-columns: 40px auto;
      gap: 15px;
      color: #000;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      cursor: default;
      font-family: Inter;

      img {
        height: 35px;
        width: 35px;
        margin-top: 2px;
        justify-self: center;
      }

      p {
        margin: 0;
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}