@media print {
    /* styles here */

    * {
        vertical-align: top;
    }

    nav,
    footer {
        display: none;
    }

    a {
        text-decoration: none;
    }

    body {
        background-image: unset;
        margin: 0;
        padding: 0;

        .resume-wrapper>.tool-bar {
            display: none !important;
        }

        .main-content {
            width: 100%;
            margin: 0 auto;
            padding: 0;
            font-size: 95%;

            .page-content {
                padding: 0 !important;
                margin: 0 auto;
                box-shadow: unset;
                opacity: 1;

                .block {
                    margin: 5px;
                }

                &>h1 {
                    display: none;
                }

                li {
                    font-size: 90%;
                }

                .company-link {
                    display: none;
                }

                h2 {
                    font-size: 95%;
                }

                .summary-wrapper,
                .skills-wrapper,
                .experience-wrapper,
                .education-wrapper {
                    font-size: 95%;
                }

                .skills-wrapper {
                    .table-wrapper {
                        margin: 10px 0;
                    }
                }

                .education-wrapper {
                    .alignment-wrapper {
                        margin-inline-start: 20px;
                        padding-bottom: 0;
                    }
                }

                .experience-wrapper {
                    margin: 0;

                    .highlights-wrapper {
                        font-size: 95%;
                        margin: 5px;
                    }

                    .past-experience-wrapper {
                        .highlights-wrapper {
                            margin: 5px 30px 5px 10px;
                        }
                    }

                    .bullets-wrapper {
                        margin-block: 0;
                    }
                }
            }
        }


    }
}