@media print {
    /* styles here */

    * {
        vertical-align: top;
    }

    nav {
        display: none;
    }

    a {
        text-decoration: none;
    }

    body {
        background-image: unset;
        margin: 0;
        padding: 0;

        .main-content {
            width: 100%;
            margin: 0 auto;
            padding: 0;

            .page-content {
                padding: 0 !important;
                margin: 0 auto;
                box-shadow: unset;
                opacity: 1;

                .block {
                    margin: 5px;
                }

                &>h1 {
                    display: none;
                }

                li {
                    font-size: 90%;
                }

                .company-link {
                    display: none;
                }

                .summary-wrapper, .skills-wrapper {
                    font-size: 90%;
                }

                .experience-wrapper {
                    margin: 0;
                    font-size:  95%;

                    .bullets-wrapper {
                        margin-block: 0;
                    }
                }
            }
        }


    }
}