@media print {
    /* styles here */

    * {
        vertical-align: top;
    }

    nav {
        display: none;
    }

    body {
        background-image: unset;
        margin: 0;
        padding: 0;

        .main-content {
            width: 100%;
            margin: 0 auto;
            padding: 0;

            .page-content {
                padding: 20px 40px !important;
                margin: 0 auto;
                box-shadow: unset;
                opacity: 1;

                &>h1 {
                    display: none;
                }

                .company-link {
                    display: none;
                }
            }
        }


    }
}